body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; }
   
   

 p { text-align: center; align-items: center;

 }
 .para {    text-align: center; 
    margin: 0 auto; 
    max-width: 80%;
    opacity: 0.5;}


    @font-face {
        font-family: 'rem'; 
        src: url('Remscheid.ttf') format('truetype'); 
    }

    @font-face {  font-family: 'sentnax'; src: url('sentnax.ttf') format('truetype');} 


     
    .mapas {
        display: flex;
        justify-content: flex-end; 
        margin-right: 1,6%; }
      
       


    
    .btn-container {
        display: flex;
        justify-content: flex-end; text-align: left;
        padding: 10px; 
      }
      
      
      .card1 {background-color:#d6e68a; 
        padding: 18px; 
        width: 52%; 
        margin-left: 44%; 
        border-radius: 16px;

      }

      .texto1 { text-align: justify;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
          padding: 15px;
           font-size: 21px;

      }

      .bot4k { background-color: #029b99;
        border: none;
        border-radius: 25px;
        color: white;
        padding: 10px 25px;
        font-size: 16px;
        font-family: Arial, sans-serif;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); margin-left: 90%;

       } 
       .tabelastextimg { width: 92%;
        
       }
       .titcards {  font-family: 'sentnax'; font-size: 63px; margin-left: 35px; background-color: #d6e68a; width: 23%; text-align: center; margin-top: 2px;

       }

       .card1H { background-color:#d6e68a; 
        padding: 18px; 
        width: 65%; 
        margin-left: 35%; 
        border-radius: 16px;

       }
       
.image {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: block; 
}


.zoom-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
 .tituloindex { text-align: center; font-size: 40px;

 }



 
.tituloindex { font-size: 90px;

}

.bodymapa {  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    gap: 40px;
    text-decoration: none;
    color: inherit;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    color: inherit;
}

.card:hover img {
    transform: scale(1.1);
}

.card-content {
    padding: 20px;
    text-decoration: none;
}

.card-content h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333; 
    
}

.card-content p {
    font-size: 1em;
    color: #666;
    margin: 10px 0 0;
    
}

.mapaall { height: 100%;width: 100%;

}

.alink { text-decoration: none;

}




    
  


    


